In [1]:
import pandas as pd

In [16]:
file1 = pd.read_csv('./adult.csv/adult.csv')

In [17]:
file1

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [21]:
df = pd.DataFrame()

In [24]:
file1['Male'].value_counts()

KeyError: 'Male'

In [7]:
file2 = pd.read_json('./winemag-data-130k-v2.json/winemag-data-130k-v2.json')

In [25]:
file2['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Czech Republic               12
Macedonia                    12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Egypt                         1
Slovakia                      1
China                         1
Name: country, dtype: int64

In [27]:
file1 = pd.read_csv('./adult.csv/adult.csv')

In [29]:
file1.loc[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

NameError: name 'data' is not defined

In [26]:
file1 = pd.read_csv('./adult.csv/adult.csv')

In [14]:
file3 = pd.read_excel('GoodBelly-DataSet-Regression(1).xlsx')

In [15]:
file3

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,Explanation of GoodBelly Sales Spreadsheet,NaN,NaN
1,NaN,NaN,NaN
2,The data came from 126 Whole Foods stores over...,NaN,NaN
3,NaN,NaN,NaN
4,Variable Definitions,NaN,NaN
5,1,Weekly Sales (Volume): The number of units sol...,NaN
6,2,Average Retail Price: The average retail pric...,NaN
7,3,Sales Rep: Defined as 1 if the store had a reg...,NaN
8,4,Endcap: Defined as 1 if a store participated i...,NaN
9,5,Demo: Defined as 1 if the store had a demo on ...,NaN
10,6,Demo1-3: Defined as 1 if the store had a demo ...,NaN
11,7,Demo4-5: Defined as 1 if the store had a demo ...,NaN
12,8,Natural Retailers: The number of other natural...,NaN
13,9,Fitness Centers: The number of fitness centers...,NaN

In [30]:
file1 = pd.read_csv('./adult.csv/adult.csv')

In [31]:
file1

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [35]:
file2 = pd.read_json('./winemag-data-130k-v2.json/winemag-data-130k-v2.json')

In [36]:
file2

,points,title,description,taster_name,taster_twitter_handle,price,designation,variety,region_1,region_2,province,country,winery
0,87,Nicosia 2013 VulkÃ Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Kerin Oâ€™Keefe,@kerinokeefe,NaN,VulkÃ Bianco,White Blend,Etna,None,Sicily & Sardinia,Italy,Nicosia
1,87,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Roger Voss,@vossroger,15.0,Avidagos,Portuguese Red,None,None,Douro,Portugal,Quinta dos Avidagos
2,87,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",Paul Gregutt,@paulgwine,14.0,None,Pinot Gris,Willamette Valley,Willamette Valley,Oregon,US,Rainstorm
3,87,St. Julian 2013 Reserve Late Harvest Riesling ...,"Pineapple rind, lemon pith and orange blossom ...",Alexander Peartree,None,13.0,Reserve Late Harvest,Riesling,Lake Michigan Shore,None,Michigan,US,St. Julian
4,87,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,"Much like the regular bottling from 2012, this...",Paul Gregutt,@paulgwine,65.0,Vintner's Reserve Wild Child Block,Pinot Noir,Willamette Valley,Willamette Valley,Oregon,US,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,90,Dr. H. Thanisch (Erben MÃ¼ller-Burggraef) 2013 ...,Notes of honeysuckle and cantaloupe sweeten th...,Anna Lee C. Iijima,None,28.0,Brauneberger Juffer-Sonnenuhr SpÃ¤tlese,Riesling,None,None,Mosel,Germany,Dr. H. Thanisch (Erben MÃ¼ller-Burggraef)
129967,90,Citation 2004 Pinot Noir (Oregon),Citation is given as much as a decade of bottl...,Paul Gregutt,@paulgwine,75.0,None,Pinot Noir,Oregon,Oregon Other,Oregon,US,Citation
129968,90,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Well-drained gravel soil gives this wine its c...,Roger Voss,@vossroger,30.0,Kritt,GewÃ¼rztraminer,Alsace,None,Alsace,France,Domaine Gresser
129969,90,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),"A dry style of Pinot Gris, this is crisp with ...",Roger Voss,@vossroger,32.0,None,Pinot Gris,Alsace,None,Alsace,France,Domaine Marcel Deiss
129970,90,Domaine Schoffit 2012 Lieu-dit Harth CuvÃ©e Car...,"Big, rich and off-dry, this is powered by inte...",Roger Voss,@vossroger,21.0,Lieu-dit Harth CuvÃ©e Caroline,GewÃ¼rztraminer,Alsace,None,Alsace,France,Domaine Schoffit

In [37]:
file3 = pd.read_excel('GoodBelly-DataSet-Regression(1).xlsx')

In [38]:
file3

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,Explanation of GoodBelly Sales Spreadsheet,NaN,NaN
1,NaN,NaN,NaN
2,The data came from 126 Whole Foods stores over...,NaN,NaN
3,NaN,NaN,NaN
4,Variable Definitions,NaN,NaN
5,1,Weekly Sales (Volume): The number of units sol...,NaN
6,2,Average Retail Price: The average retail pric...,NaN
7,3,Sales Rep: Defined as 1 if the store had a reg...,NaN
8,4,Endcap: Defined as 1 if a store participated i...,NaN
9,5,Demo: Defined as 1 if the store had a demo on ...,NaN
10,6,Demo1-3: Defined as 1 if the store had a demo ...,NaN
11,7,Demo4-5: Defined as 1 if the store had a demo ...,NaN
12,8,Natural Retailers: The number of other natural...,NaN
13,9,Fitness Centers: The number of fitness centers...,NaN